
.header {
  padding: 33px 0 28px 0;
  background-color: #eba8b1;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger-menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  z-index: 999;
  color: white;
  text-align: center;
  padding-top: 100px;
}

.burger-menu .close {
  width: 24px;
  height: 24px;
  fill: white;
  position: absolute;
  top: 20px;
  left: 20px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 18px;
  letter-spacing: 0px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Tavolga";
}

.menu__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 315px;
}

.menu__link {
  text-decoration: none;
  font-size: 14px;
  color: #770b1d;
}

.menu__link:hover {
  border-bottom: 1px solid #821328;
}

.contact {
  font-size: 16px;
  color: #ffffff;
  font-weight: bold;
}

.main {
  overflow: hidden;
  padding: 125px 0 102px 0;
  background-color: #eba8b1;
}

.main__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.main__info {
  max-width: 638px;
}

.main__title {
  font-size: 55px;
  line-height: 60px;
  color: #ffffff;
  font-family: "Tavolga";
  margin-bottom: 57px;
}

.main__description {
  font-size: 18px;
  line-height: 25px;
  width: 347px;
  color: #ffffff;
  font-family: "Tavolga";
  margin-bottom: 87px;
}

.main__btn {
  padding: 19px 0 23px;
}

.main__image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__image::before {
  content: '';
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: solid 1px #770b1d;
  z-index: -1;
  animation: pulse 3s infinite forwards;
  position: absolute;
}

.main__image::after {
  content: '';
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: solid 1px #770b1d;
  z-index: -1;
  animation: pulse 3s infinite forwards 0.5s;
  position: absolute;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(3.5);
    opacity: 0;
  }
}

.about-us {
  padding: 120px 0 32px 0;
  background-color: #ffefef;
}

.about-us__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-us__title {
  max-width: 536px;
  font-size: 45px;
  color: #331907;
  font-family: "Tavolga";
  margin-bottom: 58px;
}

.about-us__description {
  width: 400px;
  font-size: 18px;
  line-height: 28px;
  color: #331907;
}

.advantages {
  background-color: #ffefef;
  padding: 57px 0 125px 0;
}

.advantages__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 100px;
}

.advantages__item-number {
  margin-bottom: 12px;
  width: 70px;
  height: 70px;
  border-radius: 35px;
  background-color: #821328;
  font-size: 60px;
  line-height: 45px;
  color: #ffffff;
  font-weight: bold;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
}

.advantages__item:hover .advantages__item-number {
  background-color: #eba8b1;
  color: #821328;
}

.advantages__item-number span {
  position: absolute;
  bottom: -6px;
  left: 23px;
}

.advantages__item-title {
  font-size: 20px;
  color: #331907;
  font-weight: bold;
  margin-bottom: 18px;
}

.advantages__item-description {
  width: 220px;
  font-size: 15px;
  line-height: 20px;
  color: #331907;
  font-weight: bold;
}

.goods {
  padding: 118px 0 120px 0;
  background-color: #eba8b1;
}

.goods__title {
  font-size: 45px;
  color: #ffffff;
  font-family: "Tavolga";
  margin-bottom: 121px;
  text-align: center;
}

.goods__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(263px, 1fr));
  grid-column-gap: 30px;
}

.order {
  padding: 97px 0 120px 0;
  background-color: #ffefef;
}

.order__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.order__image {
  position: relative;
}

.order__image-strawberry {
  position: absolute;
  top: -20px;
  left: -35px;
  animation: move-up-down 3s infinite forwards;
}

@keyframes move-up-down {
  0% {
    transform: translateY(10px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(10px);
  }
}

.order__form {
  display: flex;
  flex-direction: column;
  max-width: 405px;
  position: relative;
  margin-left: 165px;
}

.order__title {
  font-size: 45px;
  color: #331907;
  font-family: "Tavolga";
  margin-bottom: 42px;
}

.order__description {
  font-size: 18px;
  line-height: 28px;
  color: #331907;
  margin-bottom: 23px;
}

label {
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 21px;
  font-size: 18px;
  color: #120a06;
}

.order__input {
  height: 60px;
  border-radius: 30px;
  border: 1px solid #821328;
  margin-bottom: 15px;
  box-sizing: border-box;
  padding: 0 26px 0 26px;
  width: 294px;
}

.order__input::placeholder {
  font-size: 15px;
  color: #760c22;
  font-weight: bold;
}

.order__btn {
  padding: 23px 0 21px 0;
  width: 294px;
}

.order__form-image {
  position: absolute;
  /*bottom: 75px;*/
  /*right: 0;*/
  bottom: 0;
  right: -522px;
  animation: move-up-down 3s infinite forwards 0.5s;
}

.footer {
  padding: 73px 0 62px 0;
  background-color: #c0707c;
  position: relative;
  overflow: hidden;
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rights {
  font-size: 12px;
  letter-spacing: 0px;
  color: #e3acb4;
  margin-top: 19px;
}

.instagram {
  text-decoration: none;
}

.instagram a {
  text-decoration: none;
}

 .instagram-text {
  margin-top: 14px;
  font-size: 16px;
  letter-spacing: 0px;
  color: #ffffff;
  font-weight: bold;

}

.contact {
  font-size: 16px;
  letter-spacing: 0px;
  color: #ffffff;
  font-weight: bold;

}

.present {
  width: 90px;
  height: 90px;
  border-radius: 45px;
  background-image: radial-gradient(circle at center, #71081d 0%, #d7475c 100%);
  position: absolute;
  top: 85px;
  right: 31px;
}

.present img {
  position: absolute;
  top: 19px;
  left: 18px;
  height: 50%;
  width: 50%
}

.present:hover {
  filter: drop-shadow(0 0 7.5px rgba(130,19,40,0.5));
}

.cart-count {
  top: 0;
  right: 0;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: absolute;
  background-color: white;
  border: 2px solid #770a1d;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  letter-spacing: 0px;
  line-height: 20px;
  color: #770a1d;
}

.gift-message {
  width: 172px;
  position: absolute;
  top: 93px;
  right: 150px;
  border-radius: 10px;
  background-color: #feefee;
  border: 2px solid #770a1d;
  padding: 16px 11px 14px;
  margin-bottom: 20px;
  font-size: 15px;
  letter-spacing: 0px;
  line-height: 20px;
  color: #770a1d;
  box-sizing: border-box;
  transition: transform 0.3s ease-in-out;
  opacity: 0%;
  transform: translateY(50%);
}

.present:hover + .gift-message {
  transform: translateY(0%);
  opacity: 100%;
}

.gift-message::after {
  content: '';
  position: absolute;
  top: calc(50% - 12px);
  left: 99%;
  transform: rotate(90deg);
  /*border-width: 0 14px 24px;*/
  border-width: 0 12px 20px;
  border-style: solid;
  border-color: transparent transparent #feefee; /* цвет треугольника должен совпадать с цветом фона блока */
}

.gift-message::before {
  content: '';
  position: absolute;
  top: calc(50% - 12px);
  left: 100%;
  transform: rotate(90deg);
  /*border-width: 0 14px 24px;*/
  border-width: 0 12px 20px;
  border-style: solid;
  border-color: transparent transparent #770a1d;
}

/* 1220 - 1820  */
@media screen and (max-width: 1820px) {

  .gift-message {
    top: 125px;
    right: 150px;
  }

  .present {
    top: 117px;
    right: 31px;
  }
}

/* 836 - 1220 */
@media screen and (max-width: 1220px) {

  .logo {
    display: inline-block;
    margin-right: 100px;
  }

  .menu {
    display: inline-block;
    margin-right: 194px;
  }

  .contact {
    display: none;
  }

  .main {
    margin-top: 58px;
  }

  .main__container {
    padding-bottom: 316px;
  }

  .main__image {
    position: absolute;
    right: 110px;
    top: 280px;
  }

  .about-us__container {
    flex-direction: column;
    text-align: center;
  }

  .about-us__description {
    display: inline-block;
  }

  .about-us__image {
    margin-top: 42px;
    height: 183px;
    width: 302px;
  }

  .about-us__image img {
    height: auto;
    max-width: 100%;
  }

  .advantages__container {
    grid-template-columns: repeat(2, 1fr);
    /*grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));*/
    grid-column-gap: 55px;
    justify-items: center; /* Центрирование по горизонтали */
    grid-row-gap: 88px;
  }

  .advantages__item {
    text-align: center;
  }

  .advantages__item-number {
    display: inline-block;
  }

  .goods__container {
    grid-template-columns: repeat(2, 1fr); /* Две колонки с равной шириной */
    grid-auto-rows: minmax(100px, auto); /* Минимальная высота строки 100px, максимальная - автоматическая подстраиваемая */
    align-items: center; /* Центрирование по вертикали */
    grid-row-gap: 137px;
    justify-items: center; /* Центрирование по горизонтали */
  }

  .order {
    overflow: hidden;
  }

  .order__container {

  }
  .order__form {
    order: 1;
    margin-left: 0;
  }

  .order__image {
    order: 2;
  }

  .order__form-image {
    bottom: 524px;
    right: 94px;
  }

}

/* 375 - 835 */
@media screen and (max-width: 768px) {

  .main__container {
    flex-direction: column;
    gap: 40px;
    padding-bottom: 0;
  }

  .main__image {
    position: relative;
    top: 0;
    right: 0;
  }

  .goods__container {
    grid-template-columns: repeat(1, 1fr); /* Две колонки с равной шириной */
  }

  .order {
    padding-bottom: 0;
  }

  .order__container {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
  }

  .order__image-main {
    width: 350px;
    height: auto;
  }

  .order__form-image {
    bottom: 426px;
  }

}

/* 375 - 580 */
@media screen and (max-width: 580px) {

  .menu {
    display: none;
  }

  .burger {
    display: block;
  }

  .burger svg {
    width: 36px;
    height: 36px;
    fill: #811327;
  }

  .burger-menu.open {
    display: block;
  }

  .main__container {
    align-items: center;
  }

  .main__info {
    text-align: center;
  }

  .main__description {
    max-width: 100%;
  }

  .main__image  img {
    width: 250px;
    height: auto;
  }

  .advantages__container {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 44px;
  }

  .order__container {
    /*flex-direction: column;
    justify-content: center;
    gap: 40px;*/
  }

  .footer__container {
    flex-direction: column;
  }

}
