<div class="goods__item">
  <div class="goods__item-image">
    <img src="assets/images/{{good.img}}" alt="macaroon">
  </div>
  <div class="goods__item-title">
    {{good.title}}
  </div>
  <div class="goods__info">
    <span class="goods__quantity">1 шт.</span>
    <span class="goods__price"> {{good.price | currency: 'RUB':'symbol':'1.2-2': "ru"}}</span>
    <button class="btn goods__btn" (click)="addProductToCart()" BackgroundButton>Заказать</button>
  </div>
</div>
<!--(click)="addToCard(good, orderElement)"-->
